/*****************************/
/******* Custom Colors *******/
/*****************************/
:root {
    --hyrule-theme-color1: #FFF6D7;
    --hyrule-theme-color2: #9FE7A6;
    --hyrule-theme-color3: #04B41B;
    --hyrule-theme-color4: #003B38;
    --bs-body-color:var(--hyrule-theme-color4);
}

/*****************************/
/*********** Reset ***********/
/*****************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html,body {
    width: 100%;
    margin: 0; 
    background-color: var(--hyrule-theme-color4);
}

main {
    height: 100vh;
}

ul > li, li {
    list-style-type: none; /* Remove Bullet Points for List Items */
}

.container-fluid, .full-width, footer, .container {
    width: 100%; /* Force full width */
    padding: 0; /* Remove Padding */
    margin: 0; /* Remove Margin */
}

/*****************************/
/********* Navigation ********/
/*****************************/
.navbar {
    display: block;
    padding-left: 1rem;
}

.navbar-collapse .navbar-nav {
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
}


.navbar-toggler {
    padding: 0;
    border: none;
    z-index: 1;
}

/* Change navbar toggle icon color */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 246, 215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    padding: 4%;
    margin: 20px 0 0 0 !important;
    width: 100%;
}

/* Make offcanvas only 30% to display nav-items when in mobile*/
.offcanvas {
    width: min(50%, 200px) !important;
    background-color: var(--hyrule-theme-color4);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
}

/* Font Awesome Icons In nav-items */
.fa-solid { 
    /* Applicable to Inbox, Starred, Sent, Drafts */
    color: var(--hyrule-theme-color1);
}

.fa-regular {
    /* Applicable to Compose */
    color: var(--hyrule-theme-color4);
}

/* Keep text color of nav-link in normal state, hover state and focus state */
.nav-link, .nav-link:hover, .nav-link:focus {
    color: var(--hyrule-theme-color1);
}

#compose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0 10px;
    margin-top: 20px;
    width: 100%;
    background-color: var(--hyrule-theme-color1);
    border-radius: 25px;
    font-weight: 600;
}

#compose .nav-link {
    color: var(--hyrule-theme-color4) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--hyrule-theme-color1);
    font-weight: 600;
    --bs-tooltip-color: var(--hyrule-theme-color4);
}

/* Compose Modal */
.modal-header, .modal-footer {
    border: none;
}

.modal-content {
    background-color: var(--hyrule-theme-color2);
    border: 2px solid var(--hyrule-theme-color4);
}

.email-header input, #email-message {
    background-color: var(--hyrule-theme-color1);
    border: 1px solid var(--hyrule-theme-color4);
    width: 100%;
    color: var(--hyrule-theme-color4);
    font-weight: 500;
}

.fa-print, .fa-reply, .fa-arrow-up-right-from-square, .fa-ellipsis-vertical {
    color: var(--hyrule-theme-color4);
}

.modal-footer {
    justify-content: flex-start;
}

.modal-button, .modal-button:hover {
    background-color: var(--hyrule-theme-color4);
    color: var(--hyrule-theme-color1);
}

.modal-button:hover {
    border: 1px solid var(--hyrule-theme-color2);
}

.rotate {
    rotate: -45deg;
}

.fa-paperclip, .fa-trash, .fa-calendar, .fa-ellipsis {
    color: var(--hyrule-theme-color4);
    font-size: 20px;
}

/*****************************/
/********* Search Bar ********/
/*****************************/
form {
    margin: 1rem 0;
}

form > .form-control {
    border-radius: 25px;
    background-color: var(--hyrule-theme-color1);
    color: var(--hyrule-theme-color4);
    padding: 5px 10px 5px 35px;
}

.fa-magnifying-glass {
    color: var(--hyrule-theme-color4);
    position: absolute;
    padding: 10px 15px;
}

/*****************************/
/******* Row of Buttons ******/
/*****************************/
/* Focus, Other and Filter Buttons */
.button-row {
    margin: 2% 0;
}

.button-row > div > button, .button-row > div {
    color: var(--hyrule-theme-color1);
    font-weight: 600;
}

.btn-outline-1 {
    border-color: var(--hyrule-theme-color1) !important;
    border-radius: 20px;
}

/*****************************/
/********* Email Cards *******/
/*****************************/
.scrollable-email-cards {
    background-color: hsla(177, 100%, 25%, 0.5);
    padding: 1rem;
    border-radius: 25px;
    margin-top: 1rem;
}

/* Modify preset card values */
.card {
    padding: 1rem;
    border-radius: 25px;
    margin: 0px 0px 20px;
    width: 100%;
    height: fit-content;
    background: var(--hyrule-theme-color1);
}

/* Hover Effect for card */
.card-shadow {
    box-shadow: 0 0.5rem 0.5rem rgba(159, 231, 166, 0.5) !important;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--hyrule-theme-color4);
    padding: 2px;
}

/* Email Content */
#email-content {
    display: none;
}

/* Right Side Bar */

.right-sidebar {
    background-color: var(--hyrule-theme-color1);
    height: 100%;
    padding: 1rem 0 0 0;
    margin: 0;
    align-items: center;
    line-height: 3rem;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    #email-content {
        display: block;
    }
    
    /* Modify email-content div to creative background */
    /* Background from https://css-pattern.com/ */
    #email-content > div {
        color: var(--hyrule-theme-color1);
        --s: 30px; /* control the size */
            --c1: var(--hyrule-theme-color1);
            --c2: var(--hyrule-theme-color2);
            --_s:37.5% 12.5% at 62.5%;
            --_g:34% 99%,#0000 101%;
            --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
            --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
            --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
            --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
            background:
              var(--g1),
              var(--g2) 0                calc(3*var(--s)),
              var(--g3) var(--s)         calc(3*var(--s)),
              var(--g4) var(--s)         calc(6*var(--s)),
              var(--g1) calc(2*var(--s)) calc(6*var(--s)),
              var(--g2) calc(2*var(--s)) calc(9*var(--s)),
              var(--g3) calc(3*var(--s)) calc(9*var(--s)),
              var(--g4) calc(3*var(--s)) 0,
              repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
            background-size: calc(4*var(--s)) calc(12*var(--s));
            border-radius: 25px;
    }

    .inner-email-content {
        color: var(--hyrule-theme-color4);
        /* From https://css.glass */
        background: rgba(255, 246, 215, 1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(4, 180, 27, 0.28);
    }

}

/* Media Queries */
@media screen and (min-width: 992px) {
    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .navbar-expand-lg .offcanvas  {
        margin-top: 0;
        width: min(100%, 200px) !important;
    }

    .navbar-nav {
        padding: 0;
    }

    /* Display Branding */
    .navbar-brand #small-logo {
        width: 32px;
        height: 32px;
    }

    /* Modify Compose Button to fit */
    #compose {
        width: fit-content;
        margin: 0;
        padding: 5px;
    }

    /* Scrollable Email Cards Section */
    .scrollable-email-cards {
        height: 82vh;
        overflow-y: scroll;
        margin-top: 0;
    }

    /* Template from W3-schools */
    /* width */
    .scrollable-email-cards::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    .scrollable-email-cards::-webkit-scrollbar-track {
        background: var(--hyrule-theme-color1);
        border-radius: 25px;
    }
  
    /* Handle */
    .scrollable-email-cards::-webkit-scrollbar-thumb {
        background: rgb(0,59,56);
        background: linear-gradient(360deg, rgba(0,59,56,1) 0%, rgba(4,180,27,1) 35%, rgba(159,231,166,1) 100%);
        border-radius: 25px;
    }
  
}

@media screen and (min-width: 1440px) {
    #compose {
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    /* Display Branding Bigger Branding */
    .navbar-brand #large-logo {
        width: 100%;
        z-index: 1;
    }

    .tooltip {
        /* Hide tooltip at 1440px */
        display: none;
    }

    .item-hover::after {
        /* Add animated underline for each nav-item */
        content:'';
        position: absolute;
        width: 90%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        background-color: var(--hyrule-theme-color2);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .item-hover:hover::after {
        /* Animate underline for nav-item. Trigger is hover. */
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}