/* Reset */
*, .container{
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    margin: 0; 
    padding: 0;
    /* outline: 1px solid red; */
}

/* Remove Bullet Points for List Items */
ul > li, li {
    list-style-type: none;
}

/* Force width to be full width and remove spacing */
.container-fluid, .full-width, footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar {
    display: block;
}

.navbar-collapse .navbar-nav {
    display:flex;
    flex-direction: column;
    justify-content: start;
}

.navbar-brand {
    /* Hide branding on mobile */
    display: none;
}

.navbar-toggler {
    padding: 0;
    margin: 0 12px;
    border: none;
    z-index: 1;
}

.nav-item {
    width: 50%;
}

/* Email Cards */
.card {
    padding: 2rem;
    border-radius: 25px;
    margin: 20px 0px;
    width: 100%;
    background: transparent;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    /* Display Branding */
    .navbar-brand {
        display: block;
        background: url(../IMG/hockey-mask.png) no-repeat top left;
        height: 32px;
        width: 32px;
    }
}