:root {
    --hyrule-theme-color1: #FFF6D7;
    --hyrule-theme-color2: #9FE7A6;
    --hyrule-theme-color3: #04B41B;
    --hyrule-theme-color4: #003B38;
    --bs-body-color:var(--hyrule-theme-color4);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    margin: 0; 
    padding: 1rem;
    background-color: var(--hyrule-theme-color1);
}


ul > li, li {
    list-style-type: none; /* Remove Bullet Points for List Items */
}

.container-fluid, .full-width, footer, .container {
    width: 100%; /* Force full width */
    padding: 0; /* Remove Padding */
    margin: 0; /* Remove Margin */
}

/******* Navbar ******/
.navbar {
    display: block;
}

.navbar-collapse .navbar-nav {
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
}

.navbar-brand {
    /* Hide branding on mobile */
    display: none;
}

.navbar-toggler {
    padding: 0;
    margin: 0 12px;
    border: none;
    z-index: 1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 59, 56, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    padding: 1rem;
    margin: 0 !important;
    width: 100%;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search Bar */
form {
    margin: 1rem 0;
}

form > .form-control {
    border-radius: 25px;
}

/* Focus, Other and Filter Buttons */
.button-row {
    margin: 2rem 0;
}

.btn-outline-1 {
    border-color: var(--hyrule-theme-color4) !important;
    border-radius: 20px;
}
/* Email Cards */
.card {
    padding: 2rem;
    border-radius: 25px;
    margin: 20px 0px;
    width: 100%;
    background: white;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    /* Display Branding */
    .navbar-brand {
        display: block;
        background: url(../IMG/hockey-mask.png) no-repeat top left;
        height: 32px;
        width: 32px;
    }
}